/* styles.css */

/* Style the links */
.social-links {
  display: inline-block;
  margin-right: 1px;
  text-decoration: none;
  color: #cb3c3c;
  padding: 5px 10px;
  border: 1px solid #160101;
  border-radius: 5px;
  margin-block-start: 7px;
  
  }
  
  .social-links a:hover {
    background-color: #d3c6c6; /* Link background color on hover */
    color: #fff; /* Link text color on hover */
  }
  